{{#if trainer.deicing}}
<h3>De-Icing</h3>
{{trainer.deicing}}{{/if}} {{#if trainer.lowVis}}
<h3>Low Visibility Procedures</h3>
{{trainer.lowVis}}{{/if}} {{#if trainer.procedural}}
<h3>Procedural Approach</h3>
{{trainer.procedural}}{{/if}} {{#if trainer.atis}}
<h3>ATIS</h3>
{{trainer.atis}}{{/if}} {{#if trainer.parking}}
<h3>Parking</h3>
{{trainer.parking}}{{/if}} {{#if trainer.transponder}}
<h3>Transponder</h3>
{{trainer.transponder}}{{/if}} {{#if trainer.departure}}
<h3>Departure</h3>
{{trainer.departure}}{{/if}} {{#if trainer.arrival}}
<h3>Arrival</h3>
{{trainer.arrival}}{{/if}} {{#if trainer.night}}
<h3>Night</h3>
{{trainer.night}}{{/if}} {{#if trainer.noise}}
<h3>Noise Abatement</h3>
{{trainer.noise}}{{/if}} {{#if trainer.restrictions}}
<h3>Restrictions</h3>
{{trainer.restrictions}}{{/if}} {{#if trainer.terminalAssignments}}
<h3>Terminal/Stand Assignments</h3>
{{trainer.terminalAssignments}}{{/if}} {{#if trainer.approaches}}
<h3>Approaches</h3>
{{trainer.approaches}}{{/if}} {{#if trainer.rwyPreferences}}
<h3>Runway Preferences</h3>
{{trainer.rwyPreferences}}{{/if}}