<h3>Basic info</h3>
<table class="table" class="display" id="basicInfo">
    <tr>
        <td>Airport name</td>
        <td>{{airport.name}}</td>
        <td>Elevation</td>
        <td>{{airport.ele}}</td>
    </tr>
    <tr>
        <td>City served</td>
        <td>{{airport.city}}</td>
        <td>Magnetic Variation</td>
        <td>{{airport.variation}}</td>
    </tr>
    <tr>
        <td>ICAO Code</td>
        <td>{{airport.icao}}</td>
        <td>IATA Code</td>
        <td>{{airport.iata}}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{airport.lat}}</td>
        <td>Longitude</td>
        <td>{{airport.lon}}</td>
    </tr>
</table>