<h3>Runways</h3>
{{#if airport_runways[0].name1}}
<table class="table" class="display" id="example">
    <tr>
        <th>runway</th>
        <th>heading</th>
        <th>length</th>
        <th>type</th>
    </tr>
    {{#each airport_runways}}
    <tr>
        <td>{{this.name1}}</td>
        <td>{{this.heading1}}</td>
        <td>{{this.length}}</td>
        <td>{{this.type}}</td>
    </tr>
    <tr>
        <td>{{this.name2}}</td>
        <td>{{this.heading2}}</td>
        <td>{{this.length}}</td>
        <td>{{this.type}}</td>
    </tr>
    {{/each}}
</table>
{{else}}
<h3>
    <strong>This airport has no runways, helipads or sealanes. Therefore, it's not an airport. Please check this isn't a train station</strong>
</h3>
{{/if}}