<h3>METAR</h3>
{{#if beginner}}
<p>This METAR is a weather report from {{airport.name}}. They are generally made every 30 mins at larger fields, and 1h at smaller
    fields.
</p>
{{/if}}
<p>
    <code>{{ weather.metar }}</code>
</p>
<h3>TAF</h3>
{{#if beginner}}
<p>This TAFis a weather report from {{airport.name}}. They are generally made every 30 mins at larger fields, and 1h at smaller
    fields.
</p>
{{/if}}
<p>
    <code>{{ weather.taf }}</code>
</p>


<h3>NOTAMs</h3>
{{#if beginner}}
<p>This notam is a weather report from {{airport.name}}. They are generally made every 30 mins at larger fields, and 1h at smaller
    fields.
</p>
{{/if}} {{#if weather.notams}}
<table class="table" class="display" id="basicInfo">
    {{#each weather.notams}}
    <tr>
        <td>
            <code>{{ this }}</code>
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>
    <code>no notams found</code>
</p>
{{/if}}